#flexcontainer
	- @pins.each do |pin|
		.grid-sizerx
		.itemx		
			.grid
				%figure.effect-phoebe
					= image_tag pin.image.url(:large)
					%figcaption
						%h2
							= link_to pin.title, pin_path(pin), remote: true
						%p
							= link_to "|" + pin.use.name + "| ", pin, remote: true
							%br
							= link_to "VIEW", pin_path(pin), remote: true
				
							- if current_use?(pin.use)
								.btn-group-new
									= link_to "", edit_pin_path(pin), remote: true, class: "glyphicon glyphicon-pencil"
									= link_to "", pin_delete_path(pin), remote: true, class: "glyphicon glyphicon-trash"