%body.boxed.bg8
	#wrapper.light
		%section.titlebar
			.container
				.sixteen.columns
					
				%nav
					#breadcrumbs
						%ul
							%li
								%a{:href => root_path} Home
							%li
								= link_to @pin.use.name, @pin.use
							%li
								= link_to @pin.title, @pin
				.close4
					.close2
						= link_to "Root", root_path, class: "glyphicon glyphicon-remove", remote: true
					.close3
						= link_to "Cancel", "#", data: {dismiss: "modal"}				
.light2mine
	.container
		.eight.columns
			#product-slider.royalSlider.rsDefault
				- @picture_frames = PictureFrame.all.where(aspect: @pin.aspect.to_s).each do |picture_frame|
					.index_frame_container{"data-rsTmb" => picture_frame.image.url(:thumb), :class => "rsImg", :class => "style_image_frame" + @pin.aspect.to_s, id: 'frame-flipper' }
						= image_tag @pin.image.url(:large), :class => "rsImg", :class => "style_image" + @pin.aspect.to_s, :style => "top: #{@picture_frames = PictureFrame.where(aspect: @pin.aspect.to_s).limit(1).take!.top}" + '%; ' "left: #{@picture_frames = PictureFrame.where(aspect: @pin.aspect.to_s).limit(1).take!.left}" + '%;' "width: #{101 - @picture_frames = PictureFrame.where(aspect: @pin.aspect.to_s).limit(1).take!.left * 2}" + '%;' "height: #{101 - @picture_frames = PictureFrame.where(aspect: @pin.aspect.to_s).limit(1).take!.top * 2}" + '%;', "data-rsTmb" => "/assets/product_item_thumb_02a.png"
						= image_tag picture_frame.image.url(:large), :class => "rsImg", :class => "style_image_frame" + @pin.aspect.to_s, id: 'frame-flipper'
			.clearfix
		.eight.columns
			.product-page

				%section.title
					%h2= @pin.title
					%span.product-price-discount
						%i= number_to_currency(@pin.price, :unit => "€")
						.reviews-counter
							.row
								.reviews.pull-right
									<div class="star-rating" data-score= #{@avg_review} >
								.row
									%span="#{@reviews.length} reviews"

				%section
					#product-artist
						Artist:
						= @pin.use.name
					%p.margin-reset
						= @pin.description
						%a{:href => "http://www.grazermedia.com"} Grazermedia
						

					.share-buttons
						%ul
							%li
								%a{:href => "#"} Share
							%li.share-facebook
								%a{:href => "#"} Facebook
							%li.share-twitter
								%a{:href => "#"} Twitter
							%li.share-gplus
								%a{:href => "#"} Google Plus
							%li.share-pinit
								%a{:href => "#"} Pin It
					.clearfix

				%section.variables
					.four.alpha.columns
						%label{:for => "size"} Frame Size
						%select#size{:name => "size"}
							%option 49cm x 39cm
							%option 59cm x 49cm
							%option 91cm x 61cm
					.four.omega.columns
						%label{:for => "color"} Color
						%select#color{:name => "color"}
							%option Black
							%option White
							%option Brown
					.clearfix
					%section.linking
						%form{:action => "#"}
							.qtyminus
							%input.qty{:name => "quantity", :type => "text", :value => "1"}/
							.qtyplus

						%a.button.adc{:href => "/cart/#{@pin.id}"} Add to Cart 
						.btn-group-new
							- if current_use?(@pin.use)
								= link_to "", edit_pin_path(@pin), remote: true, class: "glyphicon glyphicon-pencil"
								= link_to "", pin_path(@pin), method: :delete, remote: true, class: "glyphicon glyphicon-trash"	
							= link_to like_pin_path(@pin), remote: true, method: :put, class: "glyphicon.glyphicon-heart" do
								.glyphicon.glyphicon-heart
								= @pin.get_upvotes.size


					.clearfix


.row
	.container.light
		.sixteen.columns

			%ul.tabs-nav
				%li.active
					%a{:href => "#tab1"} Item Description
				%li
					%a{:href => "#tab2"} Additional Information
				%li
					%a{:href => "#tab3"} Reviews
					%span.tab-reviews= "#{@reviews.length} reviews"

			.tabs-container
				#tab1.tab-content
					%p= @pin.description
			#tab2.tab-content
				%table.basic-table
					%tr
						%th Size
						%td Small, Medium, Largem, Extra Large
					%tr
						%th Colors
						%td Black, White, Brown
					%tr
						%th Material
						%td Giclée Print, Lyson Inks, Marrutt Archival Papers, Wood, Glass 
					%tr
						%th Weight
						%td N/A

			#tab3.tab-content

				%section.comments				
					%ul
						- @reviews.each do |review|
							%li
								
								.avatar
									%img=link_to gravatar_for(review.use, size: 70), review.use
								.comment-content
									.arrow-comment
									.comment-by
										%strong= review.use.name
										%span.date= time_ago_in_words(review.created_at)
									.d1	
										.reviews.pull-right
											<div class="star-rating" data-score= #{review.rating} >	
									%p= review.comment
								- if current_use?(review.use)
									%p Edit

						- if logged_in?
							.comment-content
								-if @reviews.blank?
									%h4.pull-right Art Critic? What are your thoughts?

								%section.user_info
									= render 'shared/use_info'
								%section.micropost_form
									= render 'shared/review_form'							
						- else

							.comment-content
								%h1 Join us now at ArtRising.ie
								%h2
								To add a review 
								%a= link_to "LOGIN", login_path, remote: true, :onclick => '$.magnificPopup.close();'
								or
								%a= link_to "SIGN UP", signup_path, remote: true, :onclick => '$.magnificPopup.close();'
								
								%a.popup-with-zoom-anim.button.color.pull-right{:href => "#small-dialog"} Add Review

				
						%end


						


					

					#small-dialog.zoom-anim-dialog.mfp-hide
						%h3.headline Add Review
						%span.line.margin-bottom-25
						.clearfix


						%form#add-comment.add-comment
							- if logged_in?
								.row

									%section.user_info
										= render 'shared/use_info'
									%section.micropost_form
										= render 'shared/micropost_form'
							- else

								.comment-content
									%h1 Join us now at ArtRising.ie
									%h2
									To add a review 
									%a= link_to "LOGIN", login_path, remote: true, :onclick => '$.magnificPopup.close();'
									or
									%a= link_to "SIGN UP", signup_path, remote: true, :onclick => '$.magnificPopup.close();'

									%a.button.pull-right{:href => signup_path, :onclick => '$.magnificPopup.close();'} Sign Up	
		
							%end

							
:javascript
		$('.star-rating').raty({
			path: '/assets/',
			readOnly: true,
			score: function() {
				return $(this).attr('data-score');
		}
	});
:javascript	
		$('.royalSlider').royalSlider({

			autoScaleSlider: true,
			autoScaleSliderWidth: 560,
			autoHeight: true,

			loop: false,
			slidesSpacing: 0,

			imageScaleMode: 'none',
			imageAlignCenter:false,

			navigateByClick: false,
			numImagesToPreload:2,
			updateSliderSize: true,
			/* Arrow Navigation */
			arrowsNav:true,
			arrowsNavAutoHide: false,
			arrowsNavHideOnTouch: true,
			keyboardNavEnabled: true,
			fadeinLoadedSlide: true,

			/* Thumbnail Navigation */
			controlNavigation: 'thumbnails',
			thumbs: {
				orientation: 'horizontal',
				firstMargin: false,
				appendSpan: true,
				autoCenter: true,
				spacing: 10,
				paddingTop: 10,
			}

		});

:javascript	
	jQuery(document).ready(function($) {
	  setTimeout(function() {
	     $('.royalSlider').royalSlider('updateSliderSize', true);

	  }, 200);
	});

:javascript	
		$(document).ready(function(){
			$('body').magnificPopup({
				type: 'image',
				delegate: 'a.mfp-gallery',

				fixedContentPos: true,
				fixedBgPos: true,

				overflowY: 'auto',

				closeBtnInside: true,
				preloader: true,

				removalDelay: 0,
				mainClass: 'mfp-fade',

				gallery:{enabled:true},

				callbacks: {
					buildControls: function() {
						console.log('inside'); this.contentContainer.append(this.arrowLeft.add(this.arrowRight));
					}

				}
			});


			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',

				fixedContentPos: false,
				fixedBgPos: true,

				overflowY: 'auto',

				closeBtnInside: true,
				preloader: false,

				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});


			$('.mfp-image').magnificPopup({
				type: 'image',
				closeOnContentClick: true,
				mainClass: 'mfp-fade',
				image: {
					verticalFit: true
				}
			});


			$('.popup-youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
				disableOn: 700,
				type: 'iframe',
				mainClass: 'mfp-fade',
				removalDelay: 160,
				preloader: false,

				fixedContentPos: false
			});
		});
:javascript			
	var $Filter = $('.share-buttons');
			var FilterTimeOut;
			$Filter.find('ul li:first').addClass('active');
			$Filter.find('ul li:not(.active)').hide();
			$Filter.hover(function(){
				clearTimeout(FilterTimeOut);
				if( $(window).width() < 959 )
				{
					return;
				}
				FilterTimeOut=setTimeout(function(){
					$Filter.find('ul li:not(.active)').stop(true, true).animate({width: 'show' }, 250, 'swing');
					$Filter.find('ul li:first-child a').addClass('share-hovered');
				}, 100);

			},function(){
				if( $(window).width() < 960 )
				{
					return;
				}
				clearTimeout(FilterTimeOut);
				FilterTimeOut=setTimeout(function(){
					$Filter.find('ul li:not(.active)').stop(true, true).animate({width: 'hide'}, 250, 'swing');
					$Filter.find('ul li:first-child a').removeClass('share-hovered');

				}, 250);
			});
			$(window).resize(function() {
				if( $(window).width() < 960 )
				{
					$Filter.find('ul li:not(.active)').show();
				}
				else
				{
					$Filter.find('ul li:not(.active)').hide();
				}
			});
			$(window).resize();
:javascript	
	var thisrowfield;
		$('.qtyplus').click(function(e){
			e.preventDefault();
			thisrowfield = $(this).parent().parent().parent().find('.qty');

			var currentVal = parseInt(thisrowfield.val());
			if (!isNaN(currentVal)) {
				thisrowfield.val(currentVal + 1);
			} else {
				thisrowfield.val(0);
			}
		});

		$(".qtyminus").click(function(e) {
			e.preventDefault();
			thisrowfield = $(this).parent().parent().parent().find('.qty');
			var currentVal = parseInt(thisrowfield.val());
			if (!isNaN(currentVal) && currentVal > 0) {
				thisrowfield.val(currentVal - 1);
			} else {
				thisrowfield.val(0);
			}
		});

:javascript	
		$('.orderby').selectric();


		var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ? true : false;

		$(".variables select").each(function() {
			if(!isMobile) {
				var sb = new SelectBox({
					selectbox: $(this)
				});
				void(sb);

			}
		});

		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
			$(".variables select").css({'display':'block'});
		}


