!!! 5
%html
%head
	%title ArtRising.ie
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

%bod.bg8
	= render :partial => "layouts/header"

.mymargin
	- flash.each do |name, msg|
		= content_tag :div, msg, class: "alert alert-info"
	= yield
#product-modal.modal.fade


//%script{:src => "http://code.jquery.com/jquery-1.11.0.min.js"}
%script{:src => "http://code.jquery.com/jquery-migrate-1.2.1.min.js"}
%script{:src => "/assets/jquery.jpanelmenu.js"}

%script{:src => "/assets/jquery.themepunch.plugins.min.js"}
%script{:src => "/assets/jquery.themepunch.revolution.min.js"}
%script{:src => "/assets/jquery.themepunch.showbizpro.min.js"}
%script{:src => "/assets/jquery.magnific-popup.min.js"}
%script{:src => "/assets/hoverIntent.js"}
%script{:src => "/assets/superfish.js"}
%script{:src => "/assets/jquery.pureparallax.js"}
%script{:src => "/assets/jquery.pricefilter.js"}
%script{:src => "/assets/jquery.selectric.min.js"}
%script{:src => "/assets/jquery.royalslider.min.js"}
%script{:src => "/assets/SelectBox.js"}
%script{:src => "/assets/modernizr.custom.js"}
%script{:src => "/assets/waypoints.min.js"}
%script{:src => "/assets/jquery.flexslider-min.js"}
%script{:src => "/assets/jquery.counterup.min.js"}
%script{:src => "/assets/jquery.tooltips.min.js"}
%script{:src => "/assets/jquery.isotope.min.js"}
%script{:src => "/assets/puregrid.js"}
%script{:src => "/assets/stacktable.js"}
%script{:src => "/assets/custom.js"}
%script{:src => "/assets/jquery.raty.js"}
